.home{
    width: 25px;
    margin-left: 5px;
}

.books{
    width: 100px;
    transition: transform .2s;
}

@media (hover: hover) {
    .books:hover {
        transform: scale(1.75);
    }
}


.fake_a {
    cursor: pointer;
    margin-bottom: 0;
}

.poem {
    margin-top: 0;
    margin-bottom: 0;
    white-space: pre;
}

#poems {
    margin-bottom: 0;
}

.epigraph {
	font-style: italic;
	margin-left: 20px;
}
