@media screen and (min-width: 0em) {
    .latex {
        height: 1.1rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) {
    .latex {
        height: 1.1rem; } }
@media screen and (max-width: 42em) {
    .latex {
        height: 1rem; } }

.latex {
	margin: 0;
	position: absolute;
	margin-top: 8px !important;
}


.latex:hover {
	box-shadow: inset 0 -1px 0 0 #1e6bb8;
}
